
.work-feature-block {
    padding: 10px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }
  
  .work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
  
  .work-feature-block {
      text-align: center;
  }

  .work-feature-block-image {
      width: 40%;
  }

  body {
      background-color:beige
  }

  h1, h2 {
      text-align: center;
  }

  .row {
      margin-bottom: 50px;
  }